<p-avatar
  *ngIf="!isSkeleton() && !isInteractive()"
  class="avatar"
  [size]="size"
  [label]="getLabel()"
  shape="circle"
  [routerLinkActive]="'avatar--active'"
  [image]="iconUrl ?? undefined"
  [pTooltip]="name ?? undefined"
  [tooltipPosition]="tooltipPosition"
  [appendTo]="appendToBody ? 'body' : tooltipContainer"
/>
<p-avatar
  *ngIf="!isSkeleton() && isInteractive()"
  pRipple
  class="avatar avatar--interactive"
  [size]="size"
  [label]="getLabel()"
  shape="circle"
  (click)="avatarClick.emit($event)"
  [routerLink]="routerLink"
  [image]="iconUrl ?? undefined"
  [routerLinkActive]="'avatar--active'"
  [pTooltip]="name ?? undefined"
  [tooltipPosition]="tooltipPosition"
  [appendTo]="appendToBody ? 'body' : tooltipContainer"
/>
<div class="tooltip-container" #tooltipContainer></div>
<p-skeleton shape="circle" [size]="getSkeletonSize()" *ngIf="isSkeleton()" />
