.avatar {
	background-color: var(--app-avatar-color);
	transition: background-color 0.2s, border-color 0.2s;
	border: 2px solid transparent;
	user-select: none;
	&--interactive {
		cursor: pointer;
		&:hover {
			background-color: var(--app-avatar-hover-color);
		}
	}
	&--active {
		border-color: var(--p-primary-color);
	}
}
