<p-avatar
  *ngIf="name !== undefined && id !== undefined && !isInteractive()"
  class="avatar"
  [size]="size"
  [label]="name.at(0)"
  shape="circle"
  [routerLinkActive]="'avatar--active'"
/>
<p-avatar
  *ngIf="name !== undefined && id !== undefined && isInteractive()"
  pRipple
  class="avatar avatar--interactive"
  [size]="size"
  [label]="name.at(0)"
  shape="circle"
  (click)="avatarClick.emit($event)"
  [routerLink]="routerLink"
  [routerLinkActive]="'avatar--active'"
/>
<p-skeleton
  shape="circle"
  [size]="getSkeletonSize()"
  *ngIf="name === undefined || id === undefined"
/>
