<div class="overlay" #overlay>
  <audio
    *ngFor="let stream of getAudios()"
    class="hide"
    [srcObject]="stream.media!.media"
    autoplay
    playsinline
  ></audio>
  <div
    class="box"
    [ngClass]="this.getBoxClass()"
    #box
    (pointerdown)="onBoxGrab($event)"
    [ngStyle]="boxStyle"
  >
    <app-loader *ngIf="connecting" />
    <p-carousel
      class="users"
      *ngIf="!connecting"
      [value]="videRoomUsers"
      [numVisible]="1"
      [responsiveOptions]="undefined"
      [numScroll]="1"
      [showIndicators]="false"
      [prevButtonProps]="{ styleClass: 'drag-disabled' }"
      [nextButtonProps]="{ styleClass: 'drag-disabled' }"
      [verticalViewPortHeight]="'100%'"
    >
      <ng-template let-user #item>
        <ng-container
          *appLet="getVideoRoomUserVideoStreams(user) as videoStreams"
        >
          <div
            class="user"
            [ngClass]="videoStreams.length === 0 ? 'user--no-streams' : ''"
            *appLet="getVideoRoomUserMember(user) as member"
          >
            <app-avatar
              class="user__avatar"
              [name]="member.nickname"
              [id]="member.id"
              [size]="videoStreams.length === 0 ? 'xlarge' : 'normal'"
              tooltipPosition="bottom"
              [pTooltip]="member.nickname"
            />
            <!--if there will be more then one stream (eg. screen sharing) it could become tabs-->
            <ng-container *ngFor="let stream of videoStreams">
              <app-video-view [mediaStream]="stream.media!.media" />
            </ng-container>
          </div>
        </ng-container>
      </ng-template>
    </p-carousel>
    <div class="actions" *ngIf="!connecting">
      <button
        pButton
        class="drag-disabled"
        [ngClass]="this.cameraEnabled ? '' : 'p-button--crossed'"
        icon="pi pi-camera"
        [pTooltip]="
          (this.cameraEnabled
            ? 'channel.videoRoom.disableCamera'
            : 'channel.videoRoom.enableCamera'
          ) | translate
        "
        tooltipPosition="bottom"
        (click)="toggleCamera()"
      ></button>
      <button
        pButton
        class="drag-disabled"
        [ngClass]="this.microphoneEnabled ? '' : 'p-button--crossed'"
        icon="pi pi-microphone"
        [pTooltip]="
          (this.microphoneEnabled
            ? 'channel.videoRoom.disableMicrophone'
            : 'channel.videoRoom.enableMicrophone'
          ) | translate
        "
        tooltipPosition="bottom"
        (click)="toggleMicrophone()"
      ></button>
      <button
        pButton
        class="drag-disabled"
        [icon]="
          'pi ' +
          (this.fullscreen ? 'pi-window-minimize' : 'pi-window-maximize')
        "
        [pTooltip]="
          (this.fullscreen
            ? 'channel.videoRoom.minimize'
            : 'channel.videoRoom.maximize'
          ) | translate
        "
        (click)="toggleFullScreen()"
        tooltipPosition="bottom"
      ></button>
      <button
        pButton
        class="drag-disabled"
        icon="pi pi-phone"
        severity="danger"
        [pTooltip]="'channel.videoRoom.leave' | translate"
        tooltipPosition="bottom"
        (click)="videoRoomClosed.emit()"
      ></button>
    </div>
  </div>
</div>
