.p-button {
  position: relative;
  &--full-width {
    width: 100%;
  }
  &--crossed {
    &:after {
      content: "";
      width: 60%;
      transform: rotate(-45deg);
      height: 2px;
      position: absolute;
      background-color: var(--p-button-primary-color);
    }
  }
}
