<ng-container *ngIf="isTextNode()">{{ nodeAsTextNode().text }}</ng-container>
<br *ngIf="isTagNode(nodeTagTypes.NEW_LINE)" />
<ng-container *ngIf="isTagNode(nodeTagTypes.SQUARE_BRACKET)">[</ng-container>
<ng-container *ngIf="isTagNode(nodeTagTypes.SQUARE_BRACKET_END)"
  >]</ng-container
>
<ng-container *ngIf="isTagNode(nodeTagTypes.LINE)">
  <div>
    <app-message-text-node
      *ngFor="let node of nodeAsTagNode().children"
      [node]="node"
    />
  </div>
</ng-container>
<ng-container *ngIf="isTagNode(nodeTagTypes.BOLD)">
  <b>
    <app-message-text-node
      *ngFor="let node of nodeAsTagNode().children"
      [node]="node"
    />
  </b>
</ng-container>
<ng-container *ngIf="isTagNode(nodeTagTypes.ITALIC)">
  <i>
    <app-message-text-node
      *ngFor="let node of nodeAsTagNode().children"
      [node]="node"
    />
  </i>
</ng-container>
<ng-container *ngIf="isTagNode(nodeTagTypes.UNDERLINE)">
  <u>
    <app-message-text-node
      *ngFor="let node of nodeAsTagNode().children"
      [node]="node"
    />
  </u>
</ng-container>
