@use "mixin" as *;
@use "variable" as *;

$image-width: 5rem;
$actions-height: 3rem;
$textarea-padding-bottom: calc(var(--p-inputtext-padding-y) + $actions-height);
$textarea-images-padding-bottom: calc($image-width + $actions-height + 1rem);
$textarea-padding-top: var(--p-inputtext-padding-y);

:host ::ng-deep {
  .uploaded-images__image {
    .p-button-icon {
      font-size: 0.75rem;
    }
  }
}
.editor {
  position: relative;
  max-height: 50vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: var(--p-inputtext-color);
  background: var(--p-inputtext-background);
  border: 1px solid var(--p-inputtext-border-color);
  border-radius: var(--p-inputtext-border-radius);
  box-shadow: var(--p-inputtext-shadow);
  transition: background var(--p-inputtext-transition-duration),
    color var(--p-inputtext-transition-duration),
    border-color var(--p-inputtext-transition-duration),
    outline-color var(--p-inputtext-transition-duration),
    box-shadow var(--p-inputtext-transition-duration);
  &--focused {
    border-color: var(--p-inputtext-focus-border-color);
    box-shadow: var(--p-inputtext-focus-ring-shadow);
    outline: var(--p-inputtext-focus-ring-width)
      var(--p-inputtext-focus-ring-style) var(--p-inputtext-focus-ring-color);
    outline-offset: var(--p-inputtext-focus-ring-offset);
  }
  &--upload-focused {
    .upload-area {
      @include animated-hidden-show;
    }
  }
  &--images {
    .textarea {
      padding-bottom: $textarea-images-padding-bottom;
      scroll-padding-bottom: $textarea-images-padding-bottom;
    }
  }
}
.textarea {
  outline: none;
  padding: $textarea-padding-top var(--p-inputtext-padding-x)
    $textarea-padding-bottom var(--p-inputtext-padding-x);
  overflow-y: auto;
  scroll-padding-top: $textarea-padding-top;
  scroll-padding-bottom: $textarea-padding-bottom;
  @include scrollbar;
}
.placeholder {
  color: var(--p-form-field-placeholder-color);
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: $textarea-padding-top;
  left: var(--p-inputtext-padding-x);
}
.toolbar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  padding: 0.5rem;
  &__action {
    pointer-events: all;
  }
  &__left {
    display: flex;
    gap: 1rem;
  }
}
.text-commands {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 70%;
    background-color: var(--p-form-field-placeholder-color);
    pointer-events: none;
  }
}
.uploaded-images {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: calc($actions-height + 0.25rem);
  pointer-events: none;
  user-select: none;
  &__content {
    display: flex;
    gap: 0.5rem;
    padding-left: var(--p-inputtext-padding-x);
    padding-right: var(--p-inputtext-padding-x);
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
    width: max-content;
  }
  &__image {
    pointer-events: all;
    display: inline-flex;
    min-width: $image-width;
    height: $image-width;
    border-radius: 1rem;
    position: relative;
    &:hover {
      .uploaded-images__image-delete {
        @include animated-hidden-show;
      }
    }
  }
  &__image-container {
    position: relative;
    overflow: hidden;
    border: 2px solid var(--p-primary-color);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    cursor: pointer;
    img {
      display: block;
      background-color: black;
      width: calc(100% + 2px);
      pointer-events: none;
      @include absolute-center;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: black;
      @include animated-hidden-hide;
    }
    &:hover {
      &::after {
        @include animated-hidden-show(0.3);
      }
    }
  }
  &__image-status,
  &__image-delete {
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    padding: 0;
    right: -0.375rem;
    top: -0.375rem;
  }
  &__image-delete {
    @include animated-hidden-hide;
  }
  &__image-status {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--p-primary-color);
    border-radius: 50%;
    font-size: 0.75rem;
  }
}
.upload-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  @include animated-hidden-hide;
  * {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--p-primary-color);
    opacity: 0.4;
  }
}
.data-transfer-cursor {
  position: absolute;
  width: 1px;
  height: 1rem;
  background-color: $font-color;
}
