$font: Roboto, "Times New Roman", Times, serif;

$font-color: var(--p-neutral-50);
$font-color-secondary: var(--p-neutral-400);
$background: var(--p-slate-900);
$background-secondary: var(--p-slate-700);
$message-error: var(--p-rose-500);

$expanded-channels-width: 15rem;
$chat-message-color: var(--p-neutral-700);

$card-border: 2px solid var(--p-neutral-700);
